<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add New Student</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
    <div class="card-body">
        <form action="/create_stud" method="POST" name="frmStudent" id="frmStudent">
            <h2>ADD NEW USER</h2>
            <br>

            <!-- TEXT INPUT ELEMENTS -->
            <div class="form-group">
                <label for="StudentID">Student ID:</label>
                <input type="text" class="form-control"  name="StudentID" id="StudentID" placeholder="Enter student id" required>
            </div>

            <br>
            <div class="form-group">
                <label for="LastName">Last Name:</label>
                <input type="text" class="form-control"  name="LastName" id="LastName" placeholder="Enter last name" required>
            </div>

            <br>
            <div class="form-group">
                <label for="FirstName">First Name:</label>
                <input type="text" class="form-control"  name="FirstName" id="FirstName" placeholder="Enter first name" required>
            </div>

            <br>
            <div class="form-group">
                <label for="MiddleName">Middle Name:</label>
                <input type="text" class="form-control"  name="MiddleName" id="MiddleName" placeholder="Enter Middle name" required>
            </div>

            <br>
            <div class="form-group">
                <fieldset class="form-group">
                    <legend>Gender:</legend>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="Male" checked>
                        <label class="form-check-label" for="male">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="Female">
                        <label class="form-check-label" for="female">Female</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="others" value="Female">
                        <label class="form-check-label" for="others">Others</label>
                    </div>
                </fieldset>
            </div>

            <br>
            <div class="form-group">
                <label for="Birthday">Birthday:</label>
                <input type="date" class="form-control"  name="Birthday" id="Birthday" placeholder="Enter birthday" required>
            </div>

            <br>
            <div class="form-group">
                <label for="Age">Age:</label>
                <input type="text" class="form-control"  name="Age" id="Age" placeholder="Enter age" required>
            </div>

            <br>
            <div class="form-group">
                <label for="Course">Select Course:</label>
                <select class="form-control form-select" id="Course" name="Course" required>
                    <option>SELECT ONE</option>
                    <option>BSIT</option>
                    <option>BSCS</option>
                    <option>BSIS</option>
                    <option>BSCPE</option>
                </select>
            </div>

            <br>
            <div class="form-group">
                <label for="Address">Home Address:</label>
                <textarea class="form-control" name="Address" id="Address" placeholder="Enter home address" required></textarea>
            </div>

            <br>
            <div class="form-group">
                <label for="EmailAdd">Email Address:</label>
                <input type="email" class="form-control"  name="EmailAdd" id="EmailAdd" placeholder="Enter email address" required>
            </div>

            <!-- ACTION OR COMMAND BUTTONS -->
            <br>
            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary mb-2" id="btnSubmit">SUBMIT RECORD</button>
            </div>
        </form>
    </div>
</body>
</html>
